In [1]:
using StatsKit, Dates, Statistics;

In [47]:
df = CSV.read(
		"../data/2016-2022.csv", 
		select = ["year", "event_type", "sub_event_type", "longitude", "latitude", "fatalities", "location", "event_date", "admin1", "time_precision"], 
		DataFrame
    )

107690×10 DataFrame
    Row │ event_date       year   time_precision  event_type  sub_event_type   ⋯
        │ String31         Int64  Int64           String31    String63         ⋯
────────┼───────────────────────────────────────────────────────────────────────
      1 │ 18 March 2022     2022               1  Riots       Mob violence     ⋯
      2 │ 18 March 2022     2022               1  Protests    Peaceful protest
      3 │ 18 March 2022     2022               1  Protests    Peaceful protest
      4 │ 18 March 2022     2022               1  Protests    Peaceful protest
      5 │ 18 March 2022     2022               1  Riots       Mob violence     ⋯
      6 │ 18 March 2022     2022               1  Riots       Mob violence
      7 │ 18 March 2022     2022               2  Protests    Peaceful protest
      8 │ 18 March 2022     2022               2  Protests    Peaceful protest
      9 │ 18 March 2022     2022               2  Protests    Peaceful protest ⋯
     10 │ 18 March 2022     2022               2  Protests    Peaceful protest
     11 │ 18 March 2022     2022               2  Protests    Peaceful protest
   ⋮    │        ⋮           ⋮          ⋮             ⋮                 ⋮      ⋱
 107681 │ 01 January 2016   2016               1  Protests    Peaceful protest
 107682 │ 01 January 2016   2016               1  Riots       Mob violence     ⋯
 107683 │ 01 January 2016   2016               1  Protests    Peaceful protest
 107684 │ 01 January 2016   2016               1  Protests    Peaceful protest
 107685 │ 01 January 2016   2016               1  Protests    Peaceful protest
 107686 │ 01 January 2016   2016               1  Protests    Peaceful protest ⋯
 107687 │ 01 January 2016   2016               1  Battles     Armed clash
 107688 │ 01 January 2016   2016               1  Protests    Peaceful protest
 107689 │ 01 January 2016   2016               1  Battles     Armed clash
 107690 │ 01 January 2016   2016               1  Protests    Peaceful protest ⋯
                                               6 columns and 107669 rows omitted

In [3]:
function date_conversion!(df::DataFrame, kind::String)
	dates = df.event_date
    dates = Dates.Date.(dates, dateformat"d U y")
	if kind == "month"
		months = Dates.monthname.(dates)
    	df[!,"month"] = months
	elseif kind == "day_of_week"
		days_of_week = Dates.dayname.(dates)
    	df[!,"DayOfWeek"] = days_of_week
	elseif kind == "day"
		days = Dates.day.(dates)
    	df[!,"day"] = days
	else
		throw(ArgumentError(kind, "kind must be either \"month\", \"day_of_week\", or \"dat\". "))
	end
	return df 
end

date_conversion! (generic function with 1 method)

In [26]:
function filter_data(data::DataFrame, param::Symbol, value)
	df = subset(data, param => x -> x .== value)
	return df
end;

In [27]:
df_2019 = filter_data(df,:year, 2019);

In [28]:
date_conversion!(df_2019,"month");

In [29]:
date_conversion!(df_2019,"day");

In [30]:
function srednia(data,month)
    data = filter_data(data,:month,month)
    data = groupby(data, :day)
    data = combine(data, nrow)
    suma = sum(data.nrow)
    
    srednia = suma/nrow(data)
    return srednia
    
end

srednia (generic function with 1 method)

In [31]:
mean_April = srednia(df_2019,"April") #2019

62.86666666666667

In [32]:
mean_May = srednia(df_2019,"May") #2019

66.16129032258064

In [21]:
mean_June = srednia(df_2019,"June") #2019

63.3

Średnia z trzech miesięcy:

In [22]:
mean_basic = (mean_April+mean_May+mean_June)/3

64.10931899641577

In [23]:
#odchylenie przecietne
odchylenieprzecietne = stdm([mean_April,mean_May, mean_June], mean_basic)

1.7902190332460892

In [24]:
odchylenieprzecietne^2

3.204884186996562

| admin1 | ilosc protestow | <-- na przestrzeni lat 2020/2021 (włącznie)

In [95]:
df_agri = df[(df.year .== 2020) .| (df.year .==2021),:];

In [96]:
df_agri_col = groupby(df_agri, :admin1);

In [97]:
df_agri_col = combine(df_agri_col, nrow .=> :num_of_protests)

35×2 DataFrame
 Row │ admin1                       num_of_protests
     │ String63                     Int64
─────┼──────────────────────────────────────────────
   1 │ Uttar Pradesh                           1605
   2 │ Maharashtra                             1371
   3 │ Punjab                                  4220
   4 │ Madhya Pradesh                           511
   5 │ Telangana                               1215
   6 │ Kerala                                   939
   7 │ Karnataka                               1232
   8 │ Tamil Nadu                              2255
   9 │ West Bengal                             1912
  10 │ Jammu and Kashmir                       5386
  11 │ Andhra Pradesh                          1364
  ⋮  │              ⋮                      ⋮
  26 │ Mizoram                                   36
  27 │ Haryana                                 1433
  28 │ Manipur                                  657
  29 │ Meghalaya                                222
  30 │ Uttarakhand                              562
  31 │ Ladakh                                    72
  32 │ Nagaland                                 159
  33 │ Sikkim                                    20
  34 │ Lakshadweep                                5
  35 │ Andaman and Nicobar Islands               27
                                     14 rows omitted

In [ ]:
#Te stany musimy usunąć z naszego df ->
#Telangana, Jammu and Kashmir, Delhi, Goa, Jharkhand,Chandigarh, Chhattisgarh, Puducherry, Arunachal Pradesh, 
#Mizoram Manipur Meghalaya Uttarakhand Ladakh	Nagaland Sikkim Lakshadweep, Andaman and Nicobar Islands

In [98]:
wrong_cities = ["Telangana", "Jammu and Kashmir", "Delhi", "Goa", "Arunachal Pradesh","Jharkhand","Chandigarh", "Chhattisgarh", "Puducherry", "Arunachal","Pradesh", "Mizoram", "Manipur", "Meghalaya", "Uttarakhand" ,"Ladakh","Nagaland", "Sikkim", "Lakshadweep", "Andaman and Nicobar Islands"];

In [99]:
for city in wrong_cities
    df_agri_col = df_agri_col[df_agri_col.admin1 .!= city,:]
end

In [100]:
df_agri_col

17×2 DataFrame
 Row │ admin1            num_of_protests
     │ String63          Int64
─────┼───────────────────────────────────
   1 │ Uttar Pradesh                1605
   2 │ Maharashtra                  1371
   3 │ Punjab                       4220
   4 │ Madhya Pradesh                511
   5 │ Kerala                        939
   6 │ Karnataka                    1232
   7 │ Tamil Nadu                   2255
   8 │ West Bengal                  1912
   9 │ Andhra Pradesh               1364
  10 │ Assam                        2599
  11 │ Himachal Pradesh              353
  12 │ Odisha                        866
  13 │ Rajasthan                     540
  14 │ Gujarat                       426
  15 │ Bihar                         802
  16 │ Tripura                       729
  17 │ Haryana                      1433

In [115]:
df_agri_col = sort(df_agri_col, :admin1);

In [114]:
Nitrogen = [1.55,1.76, missing, 1.71, 1.04, 2.34, 2.05, 1.66, 1.27, 1.40, 1.57, 1.67, missing, 1.34, 1.76, 1.25, 1.67];

In [113]:
df_agri_col[!,"Nitrogen"] = Nitrogen;

In [112]:
Phosphorus = [1.57,2.13,missing, 1.64,1.20,1.93,1.90,2.35,1.84,1.16,1.54,1.93,missing, 2.11,1.69,1.32,2.05];

In [111]:
df_agri_col[!,"Phosphorus"] = Phosphorus;

In [110]:
Potassium = [2.52,2.14,missing, 2.60,2.05,1.63,2.54,1.98,2.48, 2.66,1.93,2.40,missing, 2.40,1.70, 2.21,2.04];

In [109]:
df_agri_col[!,"Potassium"] = Potassium;

In [108]:
df_agri_col

17×5 DataFrame
 Row │ admin1            num_of_protests  Nitrogen    Phosphorus  Potassium
     │ String63          Int64            Float64?    Float64?    Float64?
─────┼───────────────────────────────────────────────────────────────────────
   1 │ Andhra Pradesh               1364        1.55        1.57        2.52
   2 │ Assam                        2599        1.76        2.13        2.14
   3 │ Bihar                         802  missing     missing     missing
   4 │ Gujarat                       426        1.71        1.64        2.6
   5 │ Haryana                      1433        1.04        1.2         2.05
   6 │ Himachal Pradesh              353        2.34        1.93        1.63
   7 │ Karnataka                    1232        2.05        1.9         2.54
   8 │ Kerala                        939        1.66        2.35        1.98
   9 │ Madhya Pradesh                511        1.27        1.84        2.48
  10 │ Maharashtra                  1371        1.4         1.16        2.66
  11 │ Odisha                        866        1.57        1.54        1.93
  12 │ Punjab                       4220        1.67        1.93        2.4
  13 │ Rajasthan                     540  missing     missing     missing
  14 │ Tamil Nadu                   2255        1.34        2.11        2.4
  15 │ Tripura                       729        1.76        1.69        1.7
  16 │ Uttar Pradesh                1605        1.25        1.32        2.21
  17 │ West Bengal                  1912        1.67        2.05        2.04